.grid{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    gap: 1rem;
    grid-template-areas: 
    "box1 box2 box3"
    "box4 box2 box5"
    "box4 box2 box6";
    grid-auto-rows: 100px;
        
}
.box1{
    grid-area:box1;
}
.box2{
    grid-area: box2 ;
}
.box3{
    grid-area: box3 ;
}
.box4{
    grid-area: box4;
    height: 180px;
}
.box5{
    grid-area:box5 ;
}
.box6{
    grid-area:box6;
}

@media screen and (min-width:601px) and (max-width:900px){
    .grid{
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        "box1 box3"
        "box4 box5" 
        "box4 box6" 
        "box2 ."
        "box2 ."
        "box2 ."
        ;
    }
};
@media screen and(min-width:300px) and (max-width:600px) {
    .grid{
        
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: 
        "box1"
        "box4" 
        "box4"
        "box2" 
        "box2"
        "box2"
        "box3"
        "box5"
        "box6"
        ;
    }
    
}



